{% extends 'header.html' %}
{% block title %}
Proximamente
{% endblock title %}

{% block content %}
<!-- Barra Superior -->

<section>
    <h2 class="h2_title">Próximamente</h2>
    <span class="linea"></span>
</section>

<div class="row row-cols-1 row-cols-md-3 g-6">
    <div class="movies">
        <div class="card h-100">
            <img src="/static/img/007.jpg" class="card-img-top" alt="007">
            <div class="card-body">
                <h6 class="card-title">007 SIN TIEMPO PARA MORIR</h6>
                <p class="card-text">Bond ha dejado el servicio secreto y está disfrutando de una vida tranquila en
                    Jamaica. </p>
                <button type="button" class="btn btn-primary btn-sm">Ver más</button>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="card h-100">
            <img src="/static/img/venom.png" class="card-img-top" alt=".venom">
            <div class="card-body">
                <h6 class="card-title">VENOM: CARNAGE LIBERADO</h6>
                <p class="card-text">Tom Hardy vuelve a a vida al letal Venom, uno de los personajes más populares y
                    complejos de Marvel. </p>
                <button type="button" class="btn btn-primary btn-sm">Ver más</button>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="card h-100">
            <img src="/static/img/viuda.png" class="card-img-top" alt="viuda">
            <div class="card-body">
                <h6 class="card-title">LA LEYENDA DE LA VIUDA</h6>
                <p class="card-text">En una zona densamente boscosa al norte de San Petersburgo, la gente ha estado
                    desapareciendo.</p>
                <button type="button" class="btn btn-primary btn-sm">Ver más</button>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="card h-100">
            <img src="/static/img/hotel.png" class="card-img-top" alt="hotel">
            <div class="card-body">
                <h6 class="card-title">PESADILLA EN EL HOTEL NORMANDIE</h6>
                <p class="card-text">Una pareja y su hija de un año quedan atrapados en un vetusto hotel donde acontecen
                    extraños fenómenos.</p>
                <button type="button" class="btn btn-primary btn-sm">Ver más</button>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="card h-100">
            <img src="/static/img/locos.png" class="card-img-top" alt="locos">
            <div class="card-body">
                <h6 class="card-title">LOS LOCOS ADAMS 2</h6>
                <p class="card-text">En esta nueva película encontramos a Morticia y Gomez angustiados porque sus hijos
                    están creciendo.</p>
                <button type="button" class="btn btn-primary btn-sm">Ver más</button>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="card h-100">
            <img src="/static/img/shang.png" class="card-img-top" alt="shang">
            <div class="card-body">
                <h6 class="card-title">SHANG-CHI</h6>
                <p class="card-text">Adaptación cinematográfica del héroe creado por Steve Englehart y Jim Starlin en
                    1973.</p>
                <button type="button" class="btn btn-primary btn-sm">Ver más</button>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock content %}