{% extends 'base.html' %}
{% block title %}
| Acerca de Nosotros
{% endblock title %}

{% block content %}
	<!-- page title -->
	<section class="section section--first section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">Acerca de Nosotros</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="index.html">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">Acerca de Nosotros</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->
	
	<!-- about -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title section__title--mb"><b>Cinépolis</b> – El mejor lugar para ver películas</h2>
				</div>
				<!-- end section title -->

				<!-- section text -->
				<div class="col-12">
					<p class="section__text">Cinépolis® es la cadena de exhibición cinematográfica más grande de América Latina y siempre encontrarás uno cerca de ti. El concepto de nuestras salas se basa en ofrecerte diversión, comodidad, entretenimiento, innovación y un servicio estelar.</p>

					<p class="section__text">Estamos en constante crecimiento para brindarte atención de primera clase, logrando una experiencia inolvidable en cada una de tus visitas.</p>
				</div>
				<!-- end section text -->

				

				
			</div>
		</div>
	</section>
	<!-- end about -->

	{% endblock content %}