</div> <!-- Fin contenedor -->
<!-- footer -->
<footer>
    <div class="flex-footer">
        <div class="flex-cine">
            <img src="../static/img/cinepolis2.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
        </div>
        
        <div class="flex-cine">
            <h5>Cine</h5>
            <a href="{{url_for('cartelera')}}">Cartelera</a>
            <a href="{{url_for('proximamente')}}">Próximamente</a>
            <a href="{{url_for('comidas')}}">Comidas</a>

        </div>


        <div class="flex-cine">
            <h5>Contacto</h5>
            <a href="tel:+573002345678">+57 (300) 234-5678</a>
            <a href="mailto:contacto@cinepolis.com">contacto@cinepolis.com</a>
        </div>
        <div>
            <h5>Legal</h5>
            <a href="#">Políticas y Privacidad</a>

        </div>
    </div>
    
    <div class="negro">
        <h6>&copy; Grupo 6 Mintic 2021</h6>
        <p>--Uninorte, La casa que te enseña a triunfar</p>
    </div>
</footer>

<!-- end footer -->

</body>

</html>