<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinépolis -
		{% block title %}
		
		{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://kit.fontawesome.com/157409c0da.js" crossorigin="anonymous"></script>
    <script defer src="/static/js/index.js"></script>
</head>

<body>

    <!--Header-->
    <header class="header">

        <!--Navbar-->
        <nav class="nav">
            <a href="#" class="logo">
                <img src="/static/img/logo.svg" alt="logo">
            </a>
            <!--Menú-->
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <!-- li.nav-menu-item*4>a.nav-menu-link[href="#"] -->
                <li class="nav-menu-item"><a href="{{ url_for('index') }}" class="nav-menu-link nav-link nav-menu-link_active">Home</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Cartelera</a>
                </li>
                <li class="nav-menu-item"><a href="#"
                        class="nav-menu-link nav-link nav-menu-link_active">Próximamente</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Comidas</a>
                </li>
            </ul>
            <!--/.Menú-->
            <button class="nav-button">
                <a href="{{ url_for('signin') }}">Ingresar</a>
            </button>
            <!--/.Navbar-->
    </header>
    {% block content %}


	{% endblock content %}
    
</body>

</html>